.ninthpage {
width: 375px;
padding-top: 60px;
}

.buttonsss {
    position: absolute;
width: 227px;
cursor: pointer;
color: white;
font-size: larger;
height: 50px;
left: 80px;
border: 1px solid #0BAB64;
border-radius: 30px;
background: #0BAB64;
top: 450px;
}

.form-control {
    margin: 20px 0;
}

.form-control label {
    display: block;
}

.form-control input {
    width: 90%;
    border: 1px solid black;
    height: 40px;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 17px;
}

.add-formsss {
    margin-top: 40px;
    margin-left: 20px;
}


.seee {
    background-color: transparent !important;
}
.visible {
    width: 30px;
    align-items: center;
    margin-left: 390px;
    margin-top: -47px;
}