.seventhpage {
   width: 375px;
}

.lock {
    margin-left: 120px;
    margin-top: 15px;  
}


    .form-controlss {
        margin: 20px 0;
        margin-left: 40px;
    }
    
    .form-controlss label {
        display: block;
    }
    
    .form-controlss input {
        width: 90%;
        border: 1px solid black;
        height: 40px;
        padding: 3px 7px;
        border-radius: 5px;
        font-size: 17px;
    }


.accounts {
    margin-top: 10px;
    margin-left: 100px;
}

.buttons {
    margin-top: -50px;
    margin-left: -50px;
}